:root {
  --wid: 80vh;
}
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 2px;
  height: 2px;
}

.horizontal-scroll-wrapper {
  position: absolute;
  display: block;
  top: calc(100vh - var(--wid) - 50px);
  left: 0;
  width: var(--wid);
  height: 100vw;
  background: #abc;

  overflow-y: auto;
  overflow-x: hidden;
  transform: rotate(-90deg) translateY(calc(var(--wid) * (-1)));
  transform-origin: right top;
}

.squares {
  padding: 0 0 0 0;
}

.squares > div {
  width: 500px;
  height: 500px;
  margin: 10px;
  background-color: pink;
}

.movies {
  height: 100%;
  width: 30%;
  background-color: blue;
  transform: rotate(90deg) translateY(200px);
  transition: transform 0.2s linear;
  transform-origin: center;
  margin: 0 0 0 100%;
}

.movies:hover {
  transform: scale(1.3) rotate(90deg) translateY(150px);
}

/* <div class="horizontal-scroll-wrapper squares">
<div>
  <div className="movies">center</div>
</div>
<div>
  <div className="movies">center</div>
</div>
<div>
  <div className="movies">center</div>
</div>
<div>
  <div className="movies">center</div>
</div>
<div>
  <div className="movies">center</div>
</div>
<div>
  <div className="movies">center</div>
</div>
<div>
  <div className="movies">center</div>
</div>
<div>
  <div className="movies">center</div>
</div>
</div> */
